.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: var(--theme);
  color: var(--white);
  cursor: pointer;
}
.logo {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
}
.header-links {
  display: flex;
  gap: 15px;
}

.links {
  color: var(--white);
  opacity: 0.8;
  cursor: pointer;
}

.links:hover {
  opacity: 1;
  transition: all 0.3s;
}
